body {
    font-family: 'Muli', sans-serif;
}


p {
    color: #8b8685;
    font-size: 18px;
    font-family: 'Muli', Regular;
}

@media (min-width: 1200px)
{
	.container {
    max-width: 1280px;
}
}

.banner .container {
    background-color: #f0f0f0;
    padding:0;
}
.banner-img{
	object-fit:contain;
	margin-left: 32%;
	height:400px;
}
.carousel-item.active{
	height:400px;
}
.col-lg-6{

padding-left:5px;
padding-right: 5px;
}

.card-img {
width: 630px;
height: 500px;
object-fit: fill;
}
.card{
	border:none;
}
.card-body {
    margin-left: 40px;
    margin-top: -63px;
    background-color: white;
    width: 590px;
    height: 161px;
    
}

.primary-color {
    color: #0022FF;
}

h5 {
    color: #0022FF;
}
h6{
	font-size: 25px;
}
h2{
	font-size: 40px;
	font-weight: 800;
}
.carousel-caption {
    position: absolute;
    top: 120px;
    left:89px;
}

.banner-contact ul li {
    list-style-type: none;

}

.banner-contact ul {
    padding-left: 0;
}

.footer-content ul li {
    list-style-type: none;
    vertical-align: center;
}

.footer-content ul {
    padding-left: 0;
}

.footer .container {
    padding: 30px 0px;
}
.lead{
border:1.5px solid #333333;
width:34px;
margin-bottom: 20px;
}
.nav-link{
	font-size:18px;
}
.nav-item:active{
color:red;
}